@*
	Page for displaying customer information. Has a button to take you to the 
	create page (which will let you modify your data since you're logged in if you're on this page)

	Author: Cameron Olmats, Cameron C
	Date: 2023-07-30
*@

@model TravelExpertsData.Customer
@{
	ViewData["Title"] = "Personal Information";
}


<h1>@ViewData["Title"]</h1>
<div class="container-fluid">
	
	@if (Model != null)
	{

		<div class="row align-content-center">
			<!--Display country and province information-->
			<div class="col col-md-5 border">
				<!--for border around country lable and data-->
				<div class="row">
					<!--To keep lable and data in same row-->
					<div class="col">@Html.DisplayNameFor(model => model.CustomerId):</div>
					<div class="col">@Model.CustomerId</div>
				</div>
			</div>
		</div>

		<div class="row align-content-center">
			<!--Display country and province information-->
			<div class="col col-md-2 border">
				<!--for border around country lable and data-->
				<div class="row">
					<!--To keep lable and data in same row-->
					<div class="col">@Html.DisplayNameFor(model => model.CustFirstName):</div>
					<div class="col">@Model.CustFirstName</div>
				</div>
			</div>

			<div class="col col-md-3 border">
				<!--for border around prov lable and data, col 3 to match postal code-->
				<div class="row">
					<div class="col">@Html.DisplayNameFor(model => model.CustLastName):</div>
					<div class="col">@Model.CustLastName</div>
				</div>
			</div>
		</div>

		<div class="row align-content-center">
			<!--Display country and province information-->
			<div class="col col-md-2 border">
				<!--for border around country lable and data-->
				<div class="row">
					<!--To keep lable and data in same row-->
					<div class="col">@Html.DisplayNameFor(model => model.CustHomePhone):</div>
					<div class="col">@Model.CustHomePhone</div>
				</div>
			</div>

			<div class="col col-md-3 border">
				<!--for border around prov lable and data, col 3 to match postal code-->
				<div class="row">
					<div class="col">@Html.DisplayNameFor(model => model.CustBusPhone):</div>
					<div class="col">@Model.CustBusPhone</div>
				</div>
			</div>
		</div>

		<div class="row align-content-center">
			<!--Display country and province information-->
			<div class="col col-md-5 border">
				<!--for border around country lable and data-->
				<div class="row">
					<!--To keep lable and data in same row-->
					<div class="col">@Html.DisplayNameFor(model => model.CustEmail):</div>
					<div class="col">@Model.CustEmail</div>
				</div>
			</div>
		</div>

		<div class="row align-content-center">
			<!--Display country and province information-->
			<div class="col col-md-5 border">
				<!--for border around country lable and data-->
				<div class="row">
					<!--To keep lable and data in same row-->
					<div class="col">@Html.DisplayNameFor(model => model.CustAddress):</div>
					<div class="col">@Model.CustAddress</div>
				</div>
			</div>
		</div>

		<div class="row align-content-center"> <!--Display country and province information-->
			<div class="col col-md-2 border"> <!--for border around country lable and data-->
				<div class="row"> <!--To keep lable and data in same row-->
					<div class="col">@Html.DisplayNameFor(model => model.CustCountry):</div>
					<div class="col">@Model.CustCountry</div>
				</div>
			</div>

			<div class="col col-md-3 border"> <!--for border around prov lable and data, col 3 to match postal code-->
				<div class="row">
					<div class="col">@Html.DisplayNameFor(model => model.CustProv):</div>
					<div class="col">@Model.CustProv</div>
				</div>
			</div>
		</div>
		<div class="row"> <!--Display city and postal information-->
			<div class="col col-md-2 border"> <!--for border around city lable and data-->
				<div class="row">
					<div class="col">@Html.DisplayNameFor(model => model.CustCity):</div>
					<div class="col">@Model.CustCity</div>
				</div>
			</div>

			<div class="col col-md-3 border"> <!--for border around postal lable and data-->
				<div class="row">
					<div class="col">@Html.DisplayNameFor(model => model.CustPostal):</div>
					<div class="col">@Model.CustPostal</div>
				</div>
			</div>
		</div>
		<a href="Create">Edit</a>

	}
</div>